.Field
  size(96%, auto)
  padding: 2%
  &__input
    border(1px, solid, darken($orange500, 24%), 4px)
    size(100%, 40px)
    typo(13px, #fff, 400)
    background: darken($orange500, 24%)
    box-sizing: border-box
    padding: 0 16px
    &::-webkit-input-placeholder
      opacity(.4)
      color: #fff
