.Issue
  border-radius(0 2px 2px 0)
  size(98%, auto)
  background: $gray100
  box-sizing: border-box
  margin: 3px 0
  padding: 16px
  &:first-child
    margin-top: 0
  &__title
    typo(15px, $brown800, 500)
    margin: 0
  &__summary
    margin: 0
    &__current, &__past
      border-radius(2px)
      typo(10px, #fff, 500, 16px)
      color: #fff
      padding: 0 5px
    &__current
      margin: 0 4px 0 0
      background: $aqua500
    &__past
      background: $orange500
      margin: 0 12px 0 0
    &__open, &__close, &__wait
      typo(11px, $brown800, 16px)
      padding: 0 12px 0 0
    &__close
      color: $orange500
    &__wait
      color: $gray300

.Issue--isActive
  @extend .Issue
  border-radius(0)
  background: #fff !important
  width: 100%

.Issue--isClosed
  @extend .Issue
  background: $orange500
  cursor: pointer
  &:hover
    opacity(.92)
  &__title
    color: #fff
    font-weight: 300
