.Main
  size(100%)
  background: $brown800
  padding: 58px 0 0 0
  box-sizing: border-box
  display: flex
  overflow: hidden

.IssueListView
  maxsize(300px, auto)
  flex: 1
  overflow: auto

.StoryView
  background: #fff
  flex: 1
  overflow: auto
