//-------------------------------
// 5ROLLI Colors
//-------------------------------

$orange500 = #f63c06
$brown100 = #e0dada
$brown300 = #807a7a
$brown500 = #4a3737
$brown800 = #1f0708
$aqua500 = #2fc7a5
