//-------------------------------
// Icomoon
//-------------------------------

@font-face
  font-family: 'icomoon'
  font-style: normal
  font-weight: normal
  src: url('../fonts/icomoon.eot?-8qc1vv')
  src: url('../fonts/icomoon.eot?#iefix-8qc1vv') format('embedded-opentype'), url('../fonts/icomoon.woff?-8qc1vv') format('woff'), url('../fonts/icomoon.ttf?-8qc1vv') format('truetype'), url('../fonts/icomoon.svg?-8qc1vv#icomoon') format('svg')


//-------------------------------
// Noto Sans Japanese
//-------------------------------

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 100
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Thin.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-Thin.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-Thin.ttf') format('truetype')

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 200
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Light.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-Light.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-Light.ttf') format('truetype')

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 300
  src: url('../fonts/notosans/eot/NotoSansCJKjp-DemiLight.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-DemiLight.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-DemiLight.ttf') format('truetype')

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 400
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Regular.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-Regular.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-Regular.ttf') format('truetype')

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 500
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Medium.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-Medium.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-Medium.ttf') format('truetype')

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 700
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Bold.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-Bold.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-Bold.ttf') format('truetype')

@font-face
  font-family: 'Noto Sans Japanese'
  font-style: normal
  font-weight: 900
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Black.eot')
  src: url('../fonts/notosans/eot/NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/notosans/woff/NotoSansCJKjp-Black.woff') format('woff'), url('../fonts/notosans/ttf/NotoSansCJKjp-Black.ttf') format('truetype')
