@charset 'UTF-8'

//-------------------------------
// Settings
//-------------------------------

@import 'normalize.css/normalize.css'
@import 'zenigame/src/zenigame'

//-------------------------------
// Constants
//-------------------------------

@import 'constants/_colors'
@import 'constants/_fonts'

//-------------------------------
// Base
//-------------------------------

html, body
  minsize(100%, 100%)
  size(100%)
  typo($default-font-size, $gray900, 300, $default-line-height)
  font-family: 'Noto Sans Japanese', $font
  letter-spacing: 0.04em
  overflow: hidden

a
  &:link
    color: $blue500
  &:visited
    color: $blue700
  &:hover
    color: $blue900
  &:active
    color: $blue900

//-------------------------------
// Common
//-------------------------------

#app, .Wrapper
  size(100%)
  overflow: scroll

//-------------------------------
// Components
//-------------------------------

@import 'components/_Header'
@import 'components/_Issue'
@import 'components/_Main'
